<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %> | CSE 340 App</title>
    <meta name="description" content="CSE340 week02">
    <meta name="author" content="Amber Boyd">
    <link rel="stylesheet" href="/css/normalize.css">    
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/large.css">
    <link rel="icon" href="/images/site/favicon-32x32.png">
    <link href="https://fonts.googleapis.com/css2?family=Lunasima:wght@400;700&family=Quicksand:wght@300..700&family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <meta property="og:title" content="Amber Boyd - CSE 340">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://petrifiedsap.github.io/wdd230/chamber/images/main-street.jpg">
    <meta property="og:url" content="https://petrifiedsap.github.io/wdd230/">
</head>