<!--  title stuff   -->
<!--  <% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>
-->
<!-- possible future message -->
 <%# messages() %>

 <!--  Inventory items display -->
   <%- grid %>

   