<!--  title stuff   -->
  <% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

<!-- possible future message -->
 <% if (message) { %>
    <div class="message">
        <%-message %>
    </div>
 <% } %>



   